/* Center child elements */

.website-counter-anasayfa,
.website-counter-anasayfa-eng,
.website-counter-anasayfa-sw,
.website-counter-blog,
.website-counter-arduino,
.website-counter-dijitalgunluk,
.website-counter-instafollowers,
.website-counter-oyunlar,
.website-counter-randomtools,
.website-counter-randomtoolsandroid,
.website-counter-ss,
.website-counter-ss2,
.website-counter-ss3,
.website-counter-tombala
 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}


/* Styles for website counter container */
.website-counter-anasayfa,
.website-counter-anasayfa-eng,
.website-counter-anasayfa-sw,
.website-counter-blog,
.website-counter-arduino,
.website-counter-dijitalgunluk,
.website-counter-instafollowers,
.website-counter-oyunlar,
.website-counter-randomtools,
.website-counter-randomtoolsandroid,
.website-counter-ss,
.website-counter-ss2,
.website-counter-ss3,
.website-counter-tombala
 {
  background-color: #000000;
  height: 50px;
  width: 80px;
  color: white;
  border-radius: 30px;
  font-weight: 700;
  font-size: 25px;
  margin-top: 10px;
}

/* Styles for reset button */
#reset {
  margin-top: 20px;
  background-color: #008cba;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 20px;
  color: white;
  border: 0;
}